$crochetRowLength: 11; //crochet row, which is grid column. Try 10, 11, 12, 21, 22, 23

//taken from https://gist.github.com/IngoVals/0efd31cbe56241486fb9adb87ef6fd81
@mixin snake-rows($rows) {
  $repeat: $rows*2;
  @for $i from 1 through $rows {
    & > :nth-child(#{$repeat}n + #{$rows + $i}) {
      grid-row: $rows - $i + 1;
    }
  }
}
@mixin interlaced-snake-rows($rows) {
  $repeat: $rows*2;
  @for $i from 1 through $rows {
    & > :nth-child(#{$repeat}n + #{$rows + $i}) {
      grid-row: $repeat - 2*$i + 1;
    }
  }
}

// A mixin to include inside container with uniformly sizes columns and rows and a snake wrap
// usage: .container { @include snake-row-grid(10, 50px, 200px);

@mixin snake-row-grid($rows, $row-height, $column-width) {
  display: grid;
  grid-template-rows: repeat($rows, $row-height);
  grid-auto-columns: $column-width;
  grid-auto-flow: column dense;
  @include snake-rows($rows);
}

@mixin interlaced-snake-row-grid($rows, $row-height, $column-width) {
  display: grid;
  grid-template-rows: repeat(2*$rows, $row-height);
  grid-auto-columns: $column-width;
  grid-auto-flow: column dense;
  @include interlaced-snake-rows($rows);
  :nth-child(n + #{$rows + 1}):nth-child(-n + #{2*$rows}) {
    grid-column-start: 2;
  }

  > * {
    grid-column-end: span 2;
  }
}

.moss {
  @include interlaced-snake-row-grid($crochetRowLength, 12px, 14px);
  
  > * {
    margin: 1px 3px;
    border: 1px solid black;
  }
}

.granny {
  @include interlaced-snake-row-grid($crochetRowLength, 18px, 18px);
  
  > * {
    margin: 0 7px;
    border: 1px solid black;
  }
}

.v-stitch {
  @include snake-row-grid($crochetRowLength, 20px, 20px);
  
  > * {
    clip-path: polygon(100% 0, 100% 25%, 50% 50%, 100% 75%, 100% 100%, 0 50%);
  }
}

.shell {
  @include interlaced-snake-row-grid($crochetRowLength, 17px, 12px);

  > * {
    margin: -6px 3px;
    clip-path: polygon(60% 0, 85% 20%, 100% 50%, 85% 80%, 60% 100%, 0 50%);
  }
}

.stacked {
  @include snake-row-grid($crochetRowLength, 12px, 20px);
  margin-top: 5px;
  div {
    grid-gap:5px;
    margin: 1px;
    border: 1px solid black;
  }
}
