.swatch {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  .crow {
    display: flex;
    flex-direction: column;
  }

  .crow:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

.swatch.stacked .stitch {
  margin: 1px;
  border: 1px solid black;
  height: 12px;
  width: 20px;
}

.swatch.v-stitch {
  .stitch {
    width: 20px;
    height: 20px;
    clip-path: polygon(100% 0, 100% 25%, 50% 50%, 100% 75%, 100% 100%, 0 50%);
  }
}

.swatch.shell {
  $stitchHeight: 25px;
  $stitchWidth: 16px;
  $stitchSpacingVertical: 2px;
  .crow:nth-child(2n) {
    margin-top: $stitchHeight/2 + $stitchSpacingVertical;
  }
  .stitch {
    height: $stitchHeight;
    width: $stitchWidth;
    margin-top: $stitchSpacingVertical;
    margin-bottom: $stitchSpacingVertical;
    margin-right: -.37 * $stitchWidth;
    clip-path: polygon(60% 0, 85% 20%, 100% 50%, 85% 80%, 60% 100%, 0 50%);
  }
}

.swatch.moss {
  $stitchHeight: 14px;
  $stitchWidth: 26px;
  $stitchSpacingVertical: 1px;
  .crow:nth-child(2n) {
    margin-top: $stitchHeight + $stitchSpacingVertical;
  }
  .stitch {
    box-sizing: border-box;
    border: 1px solid black;
    height: $stitchHeight;
    width: $stitchWidth;
    margin-top: $stitchHeight + $stitchSpacingVertical;
    margin-bottom: $stitchSpacingVertical;
    margin-right: -1/2*$stitchWidth;
    margin-left: 1px;
  }
}

.swatch.granny {
  $stitchHeight: 20px;
  $stitchWidth: $stitchHeight;
  .crow:nth-child(2n) {
    margin-top: $stitchHeight;
  }
  .stitch {
    box-sizing: border-box;
    border: 1px solid black;
    height: $stitchHeight;
    width: $stitchWidth;
    margin-top: $stitchHeight;
    margin-right: -.2*$stitchWidth;
  }
}
