input {
  margin-bottom: 1em;
}

.input-group {
  label {
    display: inline-block;
    min-width: 120px;
  }
}
.number-spinner {
  display: inline-block;
  margin-left: 1em;
  input {
    width: 3em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

