form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.5em;
}

fieldset {
  width: max-content;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
}

.color-fields,
.spec-fields {
  & > div {
    margin-bottom: 0.5em;
    height: 2em;
  }

  .input-group, .color-segment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
  }
}
.checkbox-container {
  label { margin-left: 0.5em;}
}

input[type=checkbox] {
  margin: 0;
}

.input-group {
  label {
    display: inline-block;
  }
}

.number-spinner {
  display: inline-block;
  input {
    width: 3em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

label {
  margin-right: 0.5em;
}

.chrome-picker,
.sketch-picker {
  label {
    margin: unset;
  }
}

.color-segment {
  display: flex;
  position: relative;
}

.color-preview {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border: 1px solid black;
  border-radius: 4px;
  width: 4em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.popover {
  position: absolute;
  z-index: 5;
  top: 2em;
  left: 4.25em;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

@media (max-width: 775px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }

  fieldset {
    width: inherit;
  }
}
