form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.5em;
}

fieldset {
  width: max-content;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  padding: 12px;
}

.color-fields,
.spec-fields {
  & > div {
    margin-bottom: 0.5em;
    height: 2em;
  
    &:last-child {
      margin-bottom: 0;
    }
  }

  .input-group, .color-segment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
  }
}
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;

  label {
    margin: 0 0.25em 0 0.5em;
  }
}

input[type=checkbox] {
  margin: 0;
}

.input-group {
  position: relative;

  label {
    display: inline-block;
  }
}

.integer-input {
  .fa-circle-info {
    margin-left: 0.25em;
  }
}

.fa-circle-info {
  color: #005C70;
}

.tooltip {
  background: aliceblue;
  padding: 0.25em;
  position: absolute;
  top: 2em;
  left: 0;
  z-index: 2;
  border-radius: 0.5em;
  outline: 1px solid #bbbbbb;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
  white-space: pre-line;
}

.number-spinner {
  display: flex;
  input {
    width: 3em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

.color-segment {
  display: flex;
  position: relative;
}

.color-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  gap: 0.5em;
}

.color-preview {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border: 1px solid black;
  border-radius: 4px;
  width: 4em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.popover {
  position: absolute;
  z-index: 5;
  top: 2em;
  left: 4.25em;

  &.clickable-tooltip {
    top: 0;
    left: 0;
    width: 100%;
  }
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

@media (max-width: 775px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }

  fieldset {
    width: inherit;
  }
}
