/* ATTENTION: When touching this file, make sure you look at preview component (mounted at /preview)
If you make any big refactoring changes to this file,
open preview and export a pdf to visually diff, or visually diff against the production
version of preview. Hopefully there will be a test of this diff at some point*/


/*Numbering*/
.swatch.numbered {
  counter-reset: crows 0;
  .crow {
    counter-increment: crows 1;
  }
  .crow::before {
    content: counter(crows);
    color: #aaaaaa;
    font-size: 12px;
    position: absolute;
    margin: 5px -15px;
  }
}

/*Shared swatch styling including row-reverse layout*/
.swatch {
  margin: 5px 0;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;

  .crow {
    display: flex;
    flex-direction: row;
  }

  .crow:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .stitch {
    border: 1px solid black;
    width: 12px;
    height: 20px;
  }
}

/*Just visual stuff shared with some swatch types*/
.swatch.stacked, .swatch.ripple, .swatch.vstitchCluster {
  .stitch {
    margin: 1px;
  }
}


/*Basic layout swatches: moss, hdc, granny, shell, v-stitch*/
@mixin interwovenStitch($stitchHeight, $stitchWidth, $spacing, $overlapRatio) {
  &.staggered {
    .crow:nth-child(2n) {
      margin: 0 $stitchWidth + $spacing;
    }
  }
  &:not(.staggered) {
    .crow:nth-child(2n) {
      margin-right: $stitchWidth + $spacing;
    }
    .crow:nth-child(2n + 1) {
      margin-left: $stitchWidth + $spacing;
    }
  }
  .stitch {
    box-sizing: border-box;
    border: 1px solid black;
    width: $stitchWidth;
    height: $stitchHeight;
    margin-right: $stitchWidth + $spacing;
    margin-left: $spacing;
    margin-top: $spacing;
    margin-bottom: -1 * $overlapRatio * $stitchHeight;
  }
  &.numbered:not(.staggered) {
    .crow:nth-child(2n + 1) {
      &::before {
        margin-left: -1*$stitchWidth - 15px;
      }
    }
  }

}

.swatch.moss {
  @include interwovenStitch(28px, 14px, 1px, 0.5)
}

.swatch.compact-moss {
  @include interwovenStitch(6px, 3px, 0px, 0.5);
  .stitch {
    border-width: 0;
  }
}

.swatch.hdc {
  @include interwovenStitch(28px, 14px, 1px, 0.3)
}

.swatch.granny {
  @include interwovenStitch(20px, 20px, 0, 0.2);
}

.swatch.shell {
  $stitchWidth: 35px;
  $stitchHeight: 20px;
  $stitchSpacing: 2px;
  .crow:nth-child(2n) {
    margin: 0 0.5*$stitchWidth + $stitchSpacing;
  }
  .stitch {
    width: $stitchWidth;
    height: $stitchHeight;
    margin-left: $stitchSpacing;
    margin-right: $stitchSpacing;
    margin-top: -.37 * $stitchHeight;
    margin-bottom: 0;
    border: 0;
    clip-path: polygon(0 40%, 20% 15%, 50% 0, 80% 15%, 100% 40%, 50% 100%);
  }
}

.swatch.v-stitch {
  .stitch {
    width: 20px;
    height: 20px;
    border: 0;
    clip-path: polygon(0 0, 25% 0, 50% 50%, 75% 0, 100% 0, 50% 100%);
  }
}
/* End basic layout swatches */

/*Clustered swatches: Jasmine, vstitchCluster, ripple, ablockCluster*/
/*These are layed out differently compared to the basic ones because the stitches are in groups called clusters*/
.swatch.clustered {
  .cluster {
    display: flex;
    flex-direction: row;
  }

  .crow:nth-child(2n) .cluster {
    flex-direction: row-reverse;
  }
}

.swatch.jasmine {
  $puffSize: 30px;
  .stitch {
    width: $puffSize;
    height: 10px;
    border: 1px solid black;
    border-radius: 40%;
    position: absolute;
  }

  .cluster {
    position: relative;
    width: $puffSize;
    height: $puffSize;
  }
  .crow:nth-child(2n) {
    margin-left: 50px; //this is a weird artifact of the fact that the prepended cluster takes up a ton of room
    .stitch:nth-child(3n), .stitch:only-child {
      transform: rotate(120deg);
      transform-origin: center left;
    }
    .stitch:nth-child(3n+2) {
      transform: rotate(60deg);
      transform-origin: center left;
    }
  }
  .crow:nth-child(2n+1) {
    .stitch:nth-child(3n), .stitch:only-child {
      transform: rotate(-120deg);
      transform-origin: center right;
    }
    .stitch:nth-child(3n+2) {
      transform: rotate(-60deg);
      transform-origin: center right;
    }
  }
}

.swatch.ripple {
  $rot: 20deg;
  .crow:nth-child(2n) .cluster:nth-last-child(2n+1), .crow:nth-child(2n+1) .cluster:nth-child(2n+1) {
    transform: rotate($rot);
    .stitch:first-child {
      transform: rotate(-1 * $rot);
    }
    .stitch:last-child {
      transform: rotate(-1 * $rot);
    }
  }

  .crow:nth-child(2n) .cluster:nth-last-child(2n), .crow:nth-child(2n+1) .cluster:nth-child(2n) {
    transform: rotate(-1 * $rot);
    .stitch:first-child {
      transform: rotate($rot);
    }
    .stitch:last-child {
      transform: rotate($rot);
    }
  }
}

.vstitchCluster {
  $rot: 30deg;
  .cluster .stitch:first-child, .crow:nth-child(2n) .cluster .stitch:last-child {
    transform: rotate(-1* $rot);
  }
  .cluster .stitch:last-child, .crow:nth-child(2n) .cluster .stitch:first-child {
    transform: rotate($rot);
  }
  .cluster .stitch:only-child {
    transform: rotate(0) !important;
  }
}

.ablockCluster {
  $clusterHeight: 45px;
  $rot: 45deg;

  .stitch {
    height: auto;
    width: auto;
    flex-grow: 1;
  }
  .crow:nth-child(2n) {
    margin: -.3 * $clusterHeight 0 -.3 * $clusterHeight .7 * $clusterHeight;
    .cluster {
      transform: rotate(-1 * $rot);
    }
  }
  .cluster {
    height: $clusterHeight;
    width: $clusterHeight;
    margin: 0 .4 * $clusterHeight 0 0;
    transform: rotate($rot);
  }
}
/* End clustered swatches */

/*Some extra stuff used for specific designs. Can generalize later. (this is all in /sunflower)*/

.overlapping-container {
  display: flex;
  flex-direction: column-reverse;
  .ablockCluster {
    $clusterHeight: 45px;
    margin-bottom: -24px;
    .crow:nth-child(2n) {
      margin: -.42 * $clusterHeight 0 -.42 * $clusterHeight .82 * $clusterHeight;
    }
    &.mirrored {
      transform: rotateY(180deg) ;
      margin-left: -18px;
    }
  }
}

.squashed-swatch-container {
  display: flex;
  .swatch.compact-moss {
    margin-right: -3px;
  }
}
